<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <a class="navbar-brand" href="#">A1 AUTO MOBILES</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse praba" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item" [ngClass]="{'active': router.url.includes('')}" (click)="gotoPage('cars')">
        <a class="nav-link">CARS <span class="sr-only">(current)</span></a>
      </li> <!-- routerLink="/demo" -->
      <li class="nav-item" [ngClass]="{'active': router.url.includes('bikes')}" (click)="gotoPage('bikes')">
        <a class="nav-link">BIKES</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': router.url.includes('e-bikes')}" (click)="gotoPage('e-bikes')">
        <a class="nav-link">E-bikes</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': router.url.includes('e-cars')}" (click)="gotoPage('e-cars')">
        <a class="nav-link">E-cars</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': router.url.includes('h-vehicles')}" (click)="gotoPage('h-vehicles')">
        <a class="nav-link">H-VEHICLES</a>
      </li>
    </ul>
  </div>
</nav>
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<div class="container-fluid">
  <div class="row m-3 border">
    <router-outlet></router-outlet>
  </div>
</div>